<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove Spaces</title>
</head>
<body >
    <h1>
      Hello User !
      Kindly enter the text
    </h1>
    <br>
    <br>
    <br>
    <br>
   <form action = "/result" method="get">
    <input type = 'text' name = 'mainstring'>
    <br>
    <br>
    <input type="checkbox" name ='cap' > Captiliaze
    <br>
    <br>
    <input type="checkbox" name ='lower' > Lower
    <br>
    <br>
    <input type ="checkbox" name ='rmvspaces' > Remove Spaces
    <br>
    <br>
    <button>
      Submit
    </button>
   </form>
   <!-- <br>
   <br>
   <button >
    Submit
    
   </button> -->
   <br>
    <br>
    <br>
    <a href = '/'>back</a>
</body>
</html>